<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - CS 3550</title>
    <link rel="icon" href="/static/resources/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <nav>
            <menu>
                <span class="gap-between">
                    <a id="bold-title" href="" title="CS 3550 page">CS 3550</a>
                    <a href="/" title="Assigment page">Assignment</a>
                </span>
                <span><a href="/profile/" title="Profile page">Profile</a></span>
            </menu>
        </nav>
    </header>

    <script type="module" src="/static/main.js"></script>
</body>
</html>